.table{
    display: table;
    border: solid;
    margin:0 auto;
}
.tbRow{
    display: table-row;
}
.tbCell{
    display: table-cell;
    width: 50px;
    text-align: center;
}
.validate{
    margin-top:20px;
}
ul{
    list-style: none; 
    padding: 0px; 
    margin: 0px; 
}
li{
    display: grid;
    width:300px;
    margin-top:10px;
    grid-template-columns: 30% 70%;
    justify-items: center;
}